<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>課題3__ログイン</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>
  </head>
  
  <script>
    (function ($) {
      $(function () {
        $('.button-collapse').sideNav();
      });
    })(jQuery);
  </script>

  <body>
    <nav class="teal lighten-1">
      <div class="container">
        <div class="nav-wrapper">
          <%= link_to "課題3", task03_path, class: "brand-logo white-text" %>
          <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <%= link_to root_path do %>
                <span class="material-icons"><i class="fa fa-sign-out"></i></span>
              <% end %>
            </li>
            <li>
              <a href="#">
                <span class="material-icons"><i class="fa fa-plus-circle"></i></span>
              </a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-nav">
            <div class="row"></div>
            <li><a href="#"><i class="right fa fa-plus-circle"></i>画像を追加する</a></li>
            <li>
              <%= link_to root_path do %>
                <i class="right fa fa-sign-out"></i>ログアウトする
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>